<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Classification AI Model</title>
</head>
<body bgcolor="=yellow">
    <marquee> <h1> Iris Classification Model</h1></marquee>
   
    <form action="/get_data" method="post">

        <label> Sepal Length Cm: </label><input type="number" step="any" name="Sepal_lenght"><br><br>
        <label> Sepal Width Cm: </label><input type="number" step="any" name="Sepal_width"><br><br>
        <label> Petal Length Cm: </label><input type="number" step="any" name="Petal_lenght"><br><br>
        <label> Petal Width Cm: </label><input type="number" step="any" name="Petal_width"><br><br>
        <input type="submit" value="PREDICT">
    </form>

    <img src="download.jpeg" alt="=no">
     
</body>
</html>